<div class="header">
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{title_site}}</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li id="navbar-buscar"><a href="/">Buscar</a></li>
            <li id="navbar-ultimas"><a href="/ultimas/" >Ultimas adicionadas</a></li>
            <li id="navbar-proximas"><a href="/proximos-dias/" >Proximos dias</a></li>
            <li id="navbar-fb-share">
                <div class="fb-share-button" data-href="http://caronasbrasil.herokuapp.com"
                     data-width="60" data-type="button_count"></div></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->

</nav>
</div>
<div id="github-ribbon">
    <a href="https://github.com/edubecks/vaidecaronaorg">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
             alt="Fork me on GitHub"></a>
</div>