#content{
    min-height: 400px;
    padding: 5px;
}

.container{
    max-width: 800px;
}

.center {
    display : table;
    margin  : 0 auto;
}

.row{
    margin-bottom: 5px;
}

.search-button{
    margin-top: 20px;
    width: 200px;
}

@media screen and (max-width: 800px) {
    #github-ribbon {
        display : none !important;
    }
}

.panel-heading{
    min-height: 60px;
}

li#navbar-fb-share{
   padding: 15px;
}

.navbar-brand{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.label{
    font-size: 13px;
}

.result{
    clear       : both;
    padding-top : 10px;
}

.result-fb-author-image{
    float : left;
}

.result-fb-content{
    width : calc(100% - 70px);
    float : right;
}