#content{
    min-height: 400px;
    padding: 30px;
}

.container{
    max-width: 800px;
}

.center {
    display : table;
    margin  : 0 auto;
}

.row{
    margin-bottom: 5px;
}

.search-button{
    margin-top: 20px;
    width: 200px;
}

@media screen and (max-width: 800px) {
    #github-ribbon {
        display : none !important;
    }
}

.panel-heading{
    min-height: 60px;
}